@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div ng-view></div>

@section Scripts
{
    <script type="text/javascript">
        var publicZone = angular.module('zone', []);
        publicZone.config(['$routeProvider', function ($routeProvider) {
            $routeProvider.
                when('/home', { controller: DummyCtrl, templateUrl: '/Public/Home' }).
                when('/about', { controller: DummyCtrl, templateUrl: '/Public/About' }).
                when('/contact', { controller: DummyCtrl, templateUrl: '/Public/Contact' }).
                otherwise({ redirectTo: '/home' });
        }]);

        function getClass(path) {
            if ($location.path().substr(0, path.length) == path) {
                return "active";
            } else {
                return "";
            }
        };

        function DummyCtrl($scope, $routeParams) {
        }
    </script>
}