@model FormsIdentity
@{
    ViewBag.Title = "Welcome!";
}

@using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <fieldset id="socialLoginList">
        <legend>Welcome @Model.Name</legend>
        <p>
            @Html.AntiForgeryToken()
            <button type="submit" name="provider" title="Log Off">Log Off</button>
        </p>
    </fieldset>
}
