@model FormsIdentity
@{
    ViewBag.Title = "Welcome!";
}

<h2>Welcome @Model.Name</h2>
@using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <button type="submit" name="provider" title="Log Off">Log Off</button>
}
